html,
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.hp {
  background-color: brown;
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
